@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
/* font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background-color: rgb(240, 240, 240);
}

/* Main Div */
.main{
    display: flex;
}

/* Navigation-Bar */
.navigation-bar{
    max-height: 100vh; height: 100vh; max-width: 5rem; width: 5rem;
    display: flex; justify-content: center;
    padding-top: 1rem;
    border-width: 1px; border-style:solid; border-color: rgb(117, 117, 117); border-top: none; border-bottom: none; border-left: none;
}.navigation-bar ul{
    display: flex; flex-direction: column; justify-content: space-around;    
}.navigation-bar ul a{
    text-decoration: none;
}.navigation-bar ul a li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 1.15rem; color: black;
    writing-mode:vertical-lr; transform: scale(-1);
    list-style: none;
}.navigation-bar ul a li:hover{
    color: rgb(242, 81, 27);
}

/* Name and Title */
.name-and-title{
    max-width: 100vw; width: 100vw; max-height: inherit; height: inherit;
    padding-top: 5rem; padding-left: 4rem; 
    /* background-color: red; */
}.name h1{
    font-size: 3.5rem; font-family: 'Raleway', sans-serif;
    padding-right: 5px;
}.title h6{
    font-size: 1.3125rem; font-family: 'Raleway', sans-serif;
    color: rgb(242, 81, 27);
    margin-top: 0.7rem; margin-left: 0.4rem;
}

/* Name and Socials */
.name-and-socials{
    display: flex; flex-direction: column; justify-content: space-between;
}

/* Follow on Socials */
.follow-on-socials{
    display: flex; justify-content: right;
    margin-right: 10rem; margin-top: 35rem;
}.follow-on-socials p{
    font-family: 'Raleway', sans-serif; color: rgb(242, 81, 27); font-size: 1.3125rem;
}

/* Social Media Links */
.socials{
    margin-right: 5rem; padding-right: 4rem; margin-bottom: 1rem; padding-bottom: 5rem; 
    display: flex; justify-content: right;
    /* background-color: blue; */
}.socials ul a li img{
    width: 2.5rem;
}.socials ul{
    display: flex;
    list-style: none;
    padding-right: 5px;
}.socials ul a{
    padding-left: 0.5rem; padding-right: 0.5rem;
}
